# Virtual environments
backend/venv/
backend/.venv/
venv/
.venv/
ENV/
env/
backend/*.env

# Python caching
**/__pycache__/
**/*.py[cod]
**/*$py.class
backend/.pytest_cache/

# Flutter/Dart build files
frontend/.dart_tool/
frontend/.flutter-plugins
frontend/.flutter-plugins-dependencies
frontend/.packages
frontend/build/
frontend/.metadata

# IDEs and editors
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# OS files
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store
